stages:
  - build
  - test
  - deploy

build:
  stage: build
  image: node:22-alpine
  script:
    - npm ci
    - npm run build

test_unit:
  stage: test
  image: node:22-alpine
  script:
    - npm ci
    - npx vitest run --reporter=verbose

deploy:
  stage: deploy
  image: alpine
  script:
    - echo 'Mock deployment was successful!'
